GROQ_API_KEY=
DATABASE_URL=sqlite:///./twin.db
JWT_SECRET=supersecretkey_change_in_production
NEWS_API_KEY=9aa57e4a8112410ab0435ab2313e12f6
FRED_API_KEY=2abe0d8fd3f416a42b0f4b2913bc7e29
EXCHANGE_RATE_API_KEY=7e79f29857746487cdcf8fda
